<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<p>
  This is the placeholder contact page for the Ruby on Rails Tutorial.
  Get more info at the 
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial pages</a>
</p>